h1 {
    color: lightgreen;
}
p {
    color: black;
}

.cheat, .container-cheat {
    background-color: white;
    color: lightgreen;
    padding: 20px;
    margin: 20px;
    border: 5px solid lightgreen;
   
}
.container, .container-sheet{
    background-color: white;
    color: lightgreen;
    padding: 20px;
    margin: 20px;
    border: 5px solid lightgreen;
}
.cheat-black{
    color: black;
}